* {
  margin: 0;
  padding: none;
  box-sizing: border-box;
}

.owl-carousel {
  width: 100%;
  height: 90vh;
}

.no-container-padding {
  padding-right: 0;
  padding-left: 0;
}

.slide {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.slide-content {
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 25%;
  margin-top: -25px; 
}


.slide-content h1 {
  font-family: "Anton", serif;
  font-size: 40px;
  text-transform: uppercase;
}

.slide-content p {
  font-family: "Lato", serif;
  font-size: 21px;
  margin-bottom: 30px;
}

.slide-content button {
  font-family: "Roboto", serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 25px;
  border: none;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.owl-dots span {
  width: 10px !important;
  height: 10px !important;
}

.owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
  font-size: 65px !important;
  font-weight: bolder !important;
  background:none !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}

@media (max-width: 768px) {
  .slide-content {
    padding: 0 10%;
    top: 40%;
  }

  .slide-content h1 {
    font-size: 30px;
  }

  .slide-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .slide-content button {
    font-size: 18px;
    padding: 5px 15px;
  }
}

.slide.slide-1 .slide-content {
  top: 40%;
  transform: translateY(-50%);
}

.project {
  text-align: center;
}

.slide video {
  width: 102%;
  height: 100%;
  object-fit: cover;
}